.container {
    display: flex;
    flex-direction: column;
}

.position {
    font: 500 1.125rem 'Source Sans Pro', sans-serif;
    padding-bottom: 0.7rem;
}

.location {
    font: 300 1.125rem 'Source Sans Pro', sans-serif;
    text-align: right;
}

.company {
    color: #505050;
    text-decoration: none;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 0.1875rem;
    transition: color .35s ease-in-out,border .35s ease-in-out;
}

.company:hover {
    color: #000;
    border-color: black;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .location {
        text-align: initial;
    }
}



