.leftAligned {
    text-align: left;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.rowReset {
    margin: 0;
    align-items: center;
}

.containerBottomMargin {
    margin-bottom: 1.25rem;
}
