import React, { Component } from 'react';
import styles from './{{ pascalCase componentName }}.module.css';

export class {{ pascalCase componentName }} extends Component<any, any> {
    state = {};

    constructor(props: any) {
        super(props);
    }

    render() {
        return <div className={styles.container}>
            {{ pascalCase componentName }}
        </div>
    }
}
