import React, { FunctionComponent } from 'react';
import styles from './{{ pascalCase componentName }}.module.css';

export const {{ pascalCase componentName }}: FunctionComponent<any> = () => {
    return <div className={styles.container}>
        {{ pascalCase componentName }}
    </div>;
};
