.container {
    display: flex;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1.625rem 1.25rem 0.625rem 0;
}

.title {
    color: #A0B0B9;
    font: 600 0.75rem 'Source Sans Pro', sans-serif;
    line-height: 1.125rem;
    letter-spacing: 0.03125rem;
}

.value {
    color: #4A4A4A;
    font: 600 0.875rem/1.3125rem 'Source Sans Pro', sans-serif;
}
