.mainNavList {
    list-style: none;
    line-height: 2rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.navLink {
    color: #505050;
    text-decoration: none;
    border-bottom: 1px solid #CBCBCB;
    transition: color .35s ease-in-out,border .35s ease-in-out;
}

.navLink:hover {
    color: #000;
    border-color: #000;
}
