:global(#root) {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: 300 16px 'Source Sans Pro', sans-serif;
}

.main {
    display: flex;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
    align-items: center;
    height: 800px;

    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #2c2c2c;
    box-sizing: border-box;
    font-size: 1.6rem;
}
